<template>
    <div class="pad">
        <PadKey v-for="k in charKeys"
                :symbol="k.value.toUpperCase()"
                :value="k.value"
                :key="k.value"
                :disabled="k.disabled"
                v-on:keyClicked="onClicked">
        </PadKey>
        <PadKey symbol="<-" :value="specialKeys.BACKSPACE" v-on:keyClicked="onClicked"></PadKey>
        <PadKey symbol="CLEAR" :value="specialKeys.CLEAR" v-on:keyClicked="onClicked"></PadKey>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PadKey from './PadKey.vue';
    import {PadKeyData} from "./PadKeyData";
    import {SPECIAL_KEYS} from "../../services/PadKeys";

    @Component({
        components: {
            PadKey,
        },
    })
    export default class Pad extends Vue {
        @Prop({default: ()=>[]}) readonly nextChars!: string[];
        @Prop({default: ()=>[]}) readonly allChars!: string[];
        private specialKeys = SPECIAL_KEYS;

        public get charKeys(): PadKeyData[] {
            const padkeysData = [];
            for (let i = 0; i < this.allChars.length; i++) {
                padkeysData.push({value: this.allChars[i], disabled: this.nextChars.indexOf(this.allChars[i].toLowerCase()) < 0});
            }
            return padkeysData;
        }

        private onClicked(v: string): void {
            this.$emit("keyClicked", v);
        }
    }
</script>

<style scoped lang="scss">
</style>