<template>
    <p @click="onClick" class="pad-key" v-bind:class="{ 'pad-key-disabled': disabled }">{{symbol}}</p>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';

    @Component
    export default class PadKey extends Vue {
        @Prop({default: ''}) private readonly symbol!: string;
        @Prop({default: ''}) private readonly value!: string;
        @Prop({default: false}) private readonly disabled!: boolean;

        private onClick(): void {
            if(!this.disabled) {
                this.$emit("keyClicked", this.value);
            }
        }
    }
</script>

<style lang="scss">
    @import "./../../_variables.scss";
    .pad-key {
        text-align: center;
        line-height: 80px;
        min-width: 80px;
        padding: 0 5px;
        height: 80px;
        margin: 5px;
        background-color: $color-1;
        border-radius: 8px;
        font-size: 50px;
        &-disabled {
            opacity: 0.1;
        }
    }
</style>