<template>
    <div class="ticket-machine">
        <div class="ticket-machine-search">{{ searchTerm.toUpperCase() }}</div>
        <div class="ticket-machine-container">
            <Pad class="ticket-machine-container-pad"
                 v-on:keyClicked="onKeyClicked"
                 :allChars="allChars"
                 :nextChars="nextChars"></Pad>
            <div class="ticket-machine-container-results" @click="onResultsClick">
                <div class="ticket-machine-container-results-result"
                     v-for="result in searchResults"
                     v-bind:class="{ 'ticket-machine-container-results-result-selected': isResultSelected(result.stationName)}"
                     :key="result.stationName">
                    {{ result.stationName }}
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import Pad from './pad/Pad.vue';
    import {StationData} from "../services/StationData";
    import {CHAR_KEYS, SPECIAL_KEYS} from "../services/PadKeys";
    import {stationsSearchService} from "../services/StationsSearchService";

    @Component({
        components: {
            Pad,
        },
    })
    export default class TicketMachine extends Vue {
        private searchTerm = "";
        private searchResults: StationData[] = [];
        private selected = "";
        private allChars = CHAR_KEYS.split("");

        private get nextChars(): string[] {
            return stationsSearchService.getNextChars(this.searchResults, this.searchTerm);
        }

        private onKeyClicked(keyValue: string): void {
            switch (keyValue) {
                case SPECIAL_KEYS.BACKSPACE:
                    this.searchTerm = this.searchTerm.slice(0, -1);
                    break;
                case SPECIAL_KEYS.CLEAR:
                    this.searchTerm = "";
                    break;
                default:
                    this.searchTerm += keyValue;
                    if (this.searchTerm === " ") {
                        this.searchTerm = "";
                    }
                    break;
            }
            this.searchResults = stationsSearchService.getSearch(this.searchTerm);
        }

        private onResultsClick(e: MouseEvent) {
            this.selected = (e.target as HTMLElement).innerText;
            // TODO: change route to selected
        }

        private isResultSelected(result: string): boolean {
            return this.selected === result;
        }
    }
</script>

<style scoped lang="scss">
    @import "./../_variables.scss";

    .ticket-machine {
        display: flex;
        flex-direction: column;
        &-search {
            height: 90px;
            line-height: 90px;
            background-color: $color-1;
        }
        &-container {
            display: flex;
            height: 600px;
            &-pad {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                background-color: $color-3;
            }
            &-results {
                background-color: $color-2;
                width: 50%;
                overflow: scroll;
                &-result {
                    border-bottom: dashed;
                    &-selected {
                        background-color: $color-0;
                        color: $color-2;
                    }
                }
            }
        }
    }
</style>
