<template>
    <div id="app">
        <TicketMachine v-if="isInitialized"/>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import TicketMachine from './components/TicketMachine.vue';
    import {stationsApiService} from "./services/StationsApiService";
    import {StationData} from "./services/StationData";
    import {stationsSearchService} from "./services/StationsSearchService";

    @Component({
        components: {
            TicketMachine,
        },
    })
    export default class App extends Vue {
        private isInitialized = false;

        public mounted() {
            stationsApiService.getStationsData().then((stationsData: StationData[]) => {
                stationsSearchService.setData(stationsData);
                this.isInitialized = true;
            });
        }
    }
</script>

<style lang="scss">
    @import "./_variables.scss";

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: $color-0;
        font-size: 50px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    body {
        margin: auto;
        background-color: $color-1;
    }
</style>
